.profile-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f9f9f9;
  font-family: "Roboto", sans-serif;
}

.profile-header {
  background-color: rgba(255, 255, 255, 1);
  color: #000000;
  padding: 1rem 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profile-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-header__logo {
  font-size: 20px;
  margin: 0;
  color: black;
  font-family: "Roboto-slab", Courier, monospace;
  font-weight: 700;
}

.profile-header__nav {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.profile-header__link {
  color: #000000;
  text-decoration: none;
  font-family: "Roboto", Courier, monospace;
  font-weight: 500;
  font-size: 16px;
}

.profile-header__link:hover {
  text-decoration: underline;
}

.profile-header__user {
  display: inline-flex;
  align-items: center;
  padding: 6px 12px;
  border-radius: 20px;
  gap: 8px;
  cursor: pointer;
  border: 1px solid #000000;
}

.profile-header__user:hover {
  background-color: rgba(220, 220, 220, 1);
}

.profile-header__name {
  color: #000000;
  font-family: "Roboto", Courier, monospace;
  font-weight: 500;
  font-size: 16px;
}

.profile-header__saved {
  position: relative;
}

.profile-header__saved::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  bottom: -20px;
  left: 0;
}

.profile-header__logout-icon {
  width: 20px;
  height: 20px;
  color: #000000;
  transition: color 0.3s ease-in-out;
}

.profile-header__logout-icon:hover {
  color: #0056b3;
}

.profile-main {
  padding: 2rem;
  flex-grow: 1;
}

.profile-main__title {
  font-family: "Roboto", Courier, monospace;
  font-weight: 400;
  font-size: 14px;
  color: rgba(26, 27, 34, 0.5);
}

.profile-main__empty-message {
  font-size: 18px;
  color: #666;
  text-align: center;
}

.profile-main__summary {
  margin-top: 20px;
  padding: 10px 0;
}

.profile-main__saved-count {
  font-family: "Roboto-slab", Courier, monospace;
  font-weight: 400;
  font-size: 30px;
  color: #333;
  margin-top: 0;
}

.profile-main__keywords {
  font-family: "Roboto", Courier, monospace;
  font-weight: 400;
  font-size: 18px;
  color: rgba(182, 188, 191, 1);
}

.profile-main__keywords .profile-main__keyword {
  font-family: "Roboto", Courier, monospace;
  font-weight: 700;
  color: black;
}

.profile-main__other-keywords {
  font-family: "Roboto", Courier, monospace;
  font-weight: 700;
  color: black;
}

@media (max-width: 1024px) {
  .profile-main__saved-count {
    width: 40%;
  }
  .profile-header {
    padding: 1rem;
  }

  .profile-header__close-button {
    background: none;
    border: none;
  }

  .profile-header__nav {
    gap: 1rem;
  }

  .profile-header__link {
    font-size: 14px;
  }
}

.profile-header__menu-icon,
.profile-header__close-button {
  display: none;
}

@media (max-width: 768px) {
  .profile-header {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
  .profile-header__menu-icon {
    display: block;
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
  }

  .profile-header__link::after {
    content: none;
  }

  .profile-header__nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
    padding: 10px;
  }

  .profile-header__nav--open {
    display: flex;
  }

  .profile-header__close-button {
    display: block;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    text-align: right;
    margin-bottom: 10px;
  }

  .profile-header__container {
    flex-direction: row;
    justify-content: space-between;
  }

  .profile-header__nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
    padding: 10px;
  }

  .profile-header__nav--open {
    display: flex;
  }

  .profile-header__link {
    font-size: 16px;
    padding: 10px;
    display: block;
  }

  .profile-header__menu-icon {
    display: block;
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
  }
}

@media (max-width: 480px) {
  .profile-main {
    padding: 0;
  }

  .profile-main__keywords {
    width: 80%;
  }

  .profile-main__summary {
    padding-left: 20px;
  }
  .profile-header__logo {
    font-size: 16px;
  }

  .profile-header__user {
    padding: 5px 10px;
    font-size: 14px;
  }

  .profile-main__saved-count {
    width: 90%;
  }
  .profile-main__title {
    margin-left: 20px;
  }
}
