.not-found {
  text-align: center;
  padding: 5rem 0rem;
}

.not-found__image {
  max-width: 200px;
  opacity: 0.5;
  height: 82.5px;
  width: 82.5px;
}

.not-found__heading {
  font-size: 26px;
  color: #333;
  margin: 20px 0 10px;
  font-family: "Roboto-slab", Courier, monospace;
  line-height: 30px;
  letter-spacing: 0.05em;
}

.not-found__description {
  font-size: 18px;
  color: rgba(182, 188, 191, 1);
  font-family: "Roboto", Courier, monospace;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.05em;
}
