.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease, visibility 0.4s ease;
  z-index: 1000;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.register-modal__field {
  margin-bottom: 15px;
  font-family: "inter", Courier, monospace;
  font-weight: 400;
  font-size: 12px;
  color: blue;
}

.register-modal__label {
  display: block;
  margin-bottom: 8px;
  color: blue;
  font-family: "inter", Courier, monospace;
  font-weight: 400;
  font-size: 12px;
}

.register-modal__input {
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  width: 90%;
  border: none;
  border-bottom: 1px solid #000;
}

.register-modal__button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.register-modal__or-signin-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  gap: 5px;
}

.register-modal__orspan {
  color: rgba(0, 0, 0, 0.5);
}

.register-modal__button {
  height: 64px;
  padding: 10px;
  background-color: rgba(47, 113, 229, 1);
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  width: 358px;
  border-radius: 100px;
  font-size: 18px;
}

.register-modal-signin__button {
  color: blue;
  border: none;
  background-color: white;
}

@media (max-width: 480px) {
  .register-modal__button {
    width: 90%;
  }
}
