.news-card {
  width: 400px;
  background-color: #fff;
  border: 1px solid #ddd;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  border-radius: 16px;
}

.news-card__title {
  font-family: "Roboto-slab", Courier, monospace;
  font-weight: 400;
  font-size: 26px;
  max-height: 4.8em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}

.news-card__image-container {
  position: relative;
}

.news-card__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.news-card__bookmark {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 8px;
  background-image: url(/src/images/bookmark.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.news-card__date {
  font-size: 18px;
  color: #999;
  margin: 0 0 0.5rem;
  text-align: left;
  font-family: "inter", Courier, monospace;
  font-weight: 400;
  line-height: 24px;
}

.news-card__description {
  font-family: "Roboto", Courier, monospace;
  font-weight: 400;
  max-height: 4.8em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}
.news-card__content {
  margin: 1.25rem 1.5rem 1.5rem 1.5rem;
}

.news-card__source {
  font-family: "Roboto-slab", Courier, monospace;
  font-weight: 700;
  font-size: 16px;
  color: rgba(182, 188, 191, 1);
  line-height: 20px;
  text-align: left;
}

.news-card__bookmark:hover {
  background-color: rgba(200, 200, 200, 0.8);
}

.news-card__tooltip {
  position: absolute;
  top: 10px;
  right: 65px;
  background-color: #ffffff;
  color: #000000;
  padding: 0.5rem;
  font-size: 14px;
  border-radius: 8px;
  width: 182px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.news-card__bookmark:hover + .news-card__tooltip {
  visibility: visible;
  opacity: 1;
}

.news-card__bookmark--inactive {
  cursor: not-allowed;
  opacity: 0.5;
}

.news-card__keyword {
  position: absolute;
  top: 16px;
  left: 16px;
  background-color: #f5f5f5;
  color: #333;
  border-radius: 10px;
  z-index: 1;
  width: 80px;
  height: 40px;
  font-size: 14px;
  font-family: "Roboto", Courier, monospace;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-card__icon {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 0.3s ease;
}

.news-card__trash {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 8px;
  background-image: url("/src/images/delete.png");
  background-repeat: no-repeat;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, filter 0.3s ease;
}

.news-card__icon-container:hover .news-card__tooltip {
  visibility: visible;
  opacity: 1;
}

.news-card__tooltip--trash {
  width: 140px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-card__trash:hover {
  background-color: rgba(200, 200, 200, 0.8);
}

@media (max-width: 1024px), (max-width: 768px) {
  .news-card__title {
    font-size: 22px;
    line-height: 28px;
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }

  .news-card__date {
    font-size: 16px;
    line-height: 20px;
  }

  .news-card__description {
    font-size: 14px;
    line-height: 22px;
    -webkit-line-clamp: 3;
    line-clamp: 3;
  }

  .news-card__image {
    height: 150px;
    object-fit: cover;
  }

  .news-card__tooltip {
    width: 140px;
    height: 35px;
    padding: 0.3rem;
    font-size: 12px;
  }
}
