.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #00000080;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s linear, visibility 0.3s;
  z-index: 1000;
}

.modal_opened {
  opacity: 1;
  visibility: visible;
}

.login-modal__container {
  background-color: #fff;
  position: relative;
  box-sizing: border-box;
  max-width: 496px;
  justify-content: center;
  border-radius: 20px;
  width: 100%;
}

.login-modal__title {
  margin-top: 0;
  font-size: 24px;
  margin-bottom: 24px;
  font-family: "Roboto-slab", Courier, monospace;
  font-weight: 900;
}

.login-modal__form {
  display: flex;
  flex-direction: column;
}

.login-modal__field {
  margin-bottom: 15px;
}

.login-modal__label {
  display: block;
  font-family: "inter", Courier, monospace;
  font-weight: 400;
  font-size: 12px;
  color: blue;
}

.login-modal__close {
  position: absolute;
  right: 20px;
  background: center no-repeat url(/src/images/modalclosewhite.png);
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: none;
  bottom: calc(100% + 8px);
  left: calc(100% + 8px);
}

.login-modal__input {
  width: 90%;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #000;
}

.login-modal__error {
  color: red;
  margin-bottom: 10px;
}

.login-modal__button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.login-modal__or-signup-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  gap: 5px;
}

.login-modal__orspan {
  color: rgba(0, 0, 0, 0.5);
}

.login-modal__button {
  height: 64px;
  padding: 10px;
  background-color: rgba(47, 113, 229, 1);
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  width: 358px;
  border-radius: 100px;
  font-size: 18px;
}

.login-modal__button:hover {
  opacity: 0.6;
}

.login-modal-signup__button {
  border: none;
  color: blue;
  background: white;
  cursor: pointer;
}

.login-signup_button {
  font-size: 16px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
}

.login-modal__button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media (max-width: 480px) {
  .login-modal__button {
    width: 90%;
  }

  .modal {
    align-items: flex-start;
    padding-top: 50px;
  }

  .login-modal__container {
    width: 90%;
    max-width: 400px;
    border-radius: 15px;
    margin-top: 10px;
  }

  .login-modal__title {
    font-size: 22px;
    margin-bottom: 16px;
  }

  .login-modal__input {
    width: 100%;
    font-size: 16px;
    padding: 12px;
  }

  .login-modal__button {
    width: 100%;
    height: 56px;
    margin-left: 30px;
  }

  .login-modal__or-signup-group {
    margin-top: 15px;
    font-size: 14px;
    margin-left: 20px;
  }

  .login-modal__close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
  }
}
